/*------ Normalise CSS ------*/
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {margin: 0;padding: 0;border: 0;font: inherit;vertical-align: baseline }article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block }ol, ul {list-style: none }blockquote, q {quotes: none }blockquote:after, blockquote:before, q:after, q:before {content: '';content: none }table {border-collapse: collapse;border-spacing: 0 }button:focus, textarea:focus, div:focus {outline: 0 !important;}select:focus {outline: none;}a, a:hover {text-decoration: none;color: inherit;}button {background: transparent;border: 0;padding: 0;line-height: 0;}button:focus {outline: none;box-shadow: none;}input::placeholder, textarea::placeholder {color: var(--placeholder) !important }input::-moz-placeholder, textarea::-moz-placeholder {color: var(--placeholder) !important;opacity: 1 }input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color: var(--placeholder) !important;opacity: 1 }input:focus {outline: 0 !important }input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {-webkit-appearance: none;margin: 0 }input[type=number] {-moz-appearance: textfield }ul {list-style-type: none;padding: 0;margin: 0 }a:hover {text-decoration: none }p {margin: 0 }button {border: 0 }button:focus {outline: 0 }

/*------ Normalise CSS End ------*/

/*------ Main CSS ------*/

* {
    box-sizing: border-box;
}
:root {
    --theme-blue: #18A4FF;
    --theme-green: #05C37F;
    --bg-color: #FFFFFF;
    --navy-blue: #0A033C;
    --text-color: #040C1A;
    --grey-color: #8893A8;
    --white: #FFFFFF;
    --theme-gradient: linear-gradient(72deg, var(--theme-blue) 22.16%, var(--theme-green) 76.47%);
    --transition: .3s ease-out;
}
body {
    background-color: var(--bg-color);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 30px;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important; 
    overflow-x: hidden;
}
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: var(--theme-gradient);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
    transition: .3s ease-out;
}
.theme-gradient {
    background: var(--theme-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.font-light {
    font-weight: 300;
}
.align-right {
    float: right;
}
.green-text {
    color: var(--theme-green);
}
.max-80 {
    max-width: 80%;
}
.p-0 {
    padding: 0 !important;
}
.pb-0 {
    padding-bottom: 0 !important;
}
.p-side-6 {
    padding: 0 6%;
}
.m-70 {
    margin: 70px 0;
}
.mb-0 {
    margin-bottom: 0 !important;
}
.gutter-30 {
    --bs-gutter-x: 1.875rem;
    --bs-gutter-y: 1.875rem;
}
.gutter-20 {
    --bs-gutter-x: 1.3rem;
    --bs-gutter-y: 1.3rem;
}
.hide {
    display: none;
}

/*------ Main CSS End ------*/

/*------ Header CSS ------*/

.header-block {
    width: 100%;
    height: 150px;
    background: linear-gradient(72deg, rgba(24, 164, 255, 0.05) 22.16%, rgba(5, 195, 127, 0.05) 76.47%);
    position: fixed;
    left: 0;
    top: 0;
    transition: var(--transition);    
    z-index: 10;
}
.header-block.sticky {
    height: 80px;
    background: var(--white);
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%);
}

.header-inner {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: var(--transition);
}
.sticky .header-inner {
    height: 80px;
}
.brand-logo img {
    cursor: pointer;
    transition: .3s ease-out;
}
.sticky .brand-logo img {
    width: 120px;
}


.sticky-logo{
    display: none;
}
.sticky .non-sticky-logo {
    display: none;
}
.sticky .sticky-logo {
    display: block;
}

.menu-listing li {
    display: inline-block;
    padding: 0 20px;
}
.menu-listing li:last-child {
    padding-right: 0;
}
.menu-listing li .nav-link {
    color: var(--white);
    letter-spacing: 0.58px;
    transition: 0.3s ease-out;
}
.menu-listing li .action-btn {
    color: var(--white);
}
.sticky .menu-listing li .nav-link {
    color: var(--text-color);
}
.menu-listing li .nav-link:hover {
    color: var(--theme-blue);
}


.hamburger-menu {
    float: left;
    width: auto;
    position: relative; 
    margin-right: 10px;
    z-index: 1;   
    display: none;
}
.line {
    width: 33px;
    height: 1px;
    background: var(--theme-gradient);
    display: block;
    position: relative;
    top: 0;
    margin-bottom: 9px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.line.line:nth-child(3) {
    margin-bottom: 0;
}
.on .line:nth-child(1) {
    background: transparent;
}
.on .line:nth-child(2) {
    transform: rotate(45deg) translate(0px,0);
    background: white;
}
.on .line:nth-child(3) {
    transform: rotate(-47deg) translate(7px,-7px);
    background: white;
}
.menu-panel .ti-close {
    width: 30px;
    color: var(--white);
    font-size: 25px;
    position: absolute;
    right: 20px;
    top: 25px;
    display: none;
}




.action-btn {
    height: 48px;
    padding: 0px 24px;
    font-size: 18px;
    font-weight: 600;
    line-height: 48px;
    background-image: var(--theme-gradient);
    background-size: 100% auto;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    box-shadow: 0px 4px 8px 0px rgba(0, 15, 115, 0.08);
    transition: .3s ease-out;
}
.action-btn:hover {
    color: var(--white) !important;
    background-size: 45rem auto;
    background-position: right center;
}
.action-btn.white {
    background: var(--white);
}
.action-btn.white span { 
    background: var(--theme-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 0.0419px;
}

/*------ Header CSS End ------*/

/*------ Banner CSS ------*/

.banner-block {
    width: 100%;
    height: calc(100vh - 140px);
    background: linear-gradient(72deg, rgba(24, 164, 255, 0.25) 22.16%, rgba(5, 195, 127, 0.25) 76.47%), #000;
    position: relative;
}
.banner-block .container {
    width: 100%;
    height: 100%;
    padding: 150px 0 100px 0;
    position: relative;
}
.animation-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}
.overlay-item {
    display: flex;
    position: absolute;
    transform: translate(var(--x), var(--y));
    transition: 0.2s linear;
}
.left-top {
    left: 0;
    top: 0;
}
.left-bottom {
    left: 0;
    bottom: 0;
}
.right-top {
    right: 0;
    top: 0;
}
.right-bottom {
    right: 0;
    bottom: 0;
}
.overlay-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.circle-sm-left {
    left: -83px;
    top: 53px;
}
.triangle-sm-left {
    left: 57px;
    top: 91px;
}
.triangle-lg-left {
    left: 104px;
    top: 45px;
}
.triangle-sm-left img {
    transform: translatey(0px);
    -webkit-animation: float 6s ease-in-out infinite;
    animation: float 4s ease-in-out infinite;
}
.triangle-lg-left img {
    transform: translatey(0px);
    -webkit-animation: float 6s ease-in-out infinite;
    animation: float 6s ease-in-out infinite;
}
@keyframes float {
	0% {
		
		transform: translatey(0px);
	}
	50% {
		
		transform: translatey(-10px);
	}
	100% {
		
		transform: translatey(0px);
	}
}
.circle-lg-center {
    left: 319px;
    top: 46px;
}
.circle-sm-center {
    left: 392px;
    top: 27px;
}
.triangle-bordered {
    left: 205px;
    bottom: 20px;
}
.triangle-bordered img {
    margin-right: 13px;
}
.corner-art {
    width: 157px;
    right: -264px;
    top: 41px;
}
.circle-lg-right {
    right: -258px;
    bottom: 59px;
}
.circle-sm-right {
    right: -193px;
    bottom: 124px;
}
.triangle-bordered img:nth-child(1) {
    animation-name: slideMove;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    position: relative;
}
.triangle-bordered img:nth-child(2) {
    animation-name: slideMove;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    position: relative;
}
.triangle-bordered img:nth-child(3) {
    animation-name: slideMove;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    position: relative;
}
@keyframes slideMove{
    50%{
        transform: translateX(13px);
    }
}
.globe {
    width: 530px;
    height: 477px;
    position: absolute;
    top: calc(50% - 242px);
    right: 0;
    animation-name: slideRotate;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: slideRotate;
    -webkit-animation-duration: 12s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
@keyframes slideRotate {
    from { background-position: 0px 0px; }
    to { background-position: 500px 0px; }
}
@-webkit-keyframes slideRotate {
    from { background-position: 0px 0px; }
    to { background-position: 500px 0px; }
}
.banner-section {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.main-banner-block {
    width: 100%;
    height: 100%;
}

 
.main-banner-block .slick-list, 
.main-banner-block .slick-track,
.each-banner-item .container, 
.each-banner-item .container .row {
    height: 100% !important;
}
.carousel-inner-block {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.carousel-text-content {
    max-width: 50%;
}
.carousel-text-content h5 {
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    color: var(--grey-color);
    margin-bottom: 8px;
}
.carousel-text-content h1 {
    width: 100%;
    font-size: 5.44069640914037vh;
    font-weight: 700;
    line-height: 60px;
    color: var(--white);
    margin-bottom: 10px;
}
.carousel-text-content p {
    width: 100%;
    font-size: 18px;
    color: var(--white);
    font-weight: 400;
}
.carousel-action {
    width: 100%;
    margin-top: 25px;
}
.carousel-action .action-btn:after {
    content: "";
    width: 24px;
    height: 24px;
    background: url('../images/svg/button-arrow.svg') no-repeat;
    display: inline-block;
    margin-left: 8px;
    transition: .3s ease-out;
    transform: translateX(0px);
}
.carousel-action .action-btn {
    padding: 0 24px 0 32px;
}
.carousel-action .action-btn:hover:after {
    transform: translateX(7px);
}
.slick-arrow {
    float: left;
    width: auto;
    height: 100%;
    position: absolute;
    font-size: 0;
    z-index: 1;
    opacity: .5;
}
.slick-arrow:hover {
    opacity: 1;
}
.slick-arrow:before {
    content: "";
    width: 29px;
    height: 29px;
    background: url('../images/svg/arrow.svg') no-repeat;
    display: inline-block;
}
.slick-arrow:after {
    content: "";
    width: 335px;
    height: 335px;
    background: var(--theme-gradient);
    border-radius: 50%;
    opacity: .1;
    display: block;
}
.slick-prev{
    left: 45px;
    top: 0;
}
.slick-next {
    right: 45px;
    top: 0;
}
.slick-next:before {
    right: 45px;
    top: 0;
    transform: rotate(180deg);
}
.slick-prev:after {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(calc(-50% - 45px) , -50%);
}
.slick-next:after {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(calc(50% - -45px) , -50%);
}
.carousel-card-block {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -138px;
    z-index: 1;
}
.carousel-card-block .slick-list {
    overflow: unset;
}
.carousel-card-block .item {
    margin: 0 18px;
}
.carousel-card {
    width: 100%;
    height: 240px;   
    --borderWidth: 2px;
    border-radius: 36px;
    background: var(--white);
    border-radius: 36px;
    padding: 36px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 23.98129px 79.13824px 1.19906px rgba(0, 0, 0, 0.15);
    position: relative;    
    cursor: pointer;
}
.carousel-card:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(72deg, var(--theme-blue) 22.16%, var(--theme-green) 76.47%);
    border-radius: 36px;
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
    transition: .3s ease-out;
    opacity: 0;
}
@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.slick-current.slick-active .carousel-card::after {
    opacity: 1;
}
.slick-slide:hover .carousel-card::after {
    opacity: 1;
}
.carousel-card figure {
    width: 72px;
    height: 72px;
    display: inline-block;
    margin-bottom: 12px;
}
.carousel-card h5 {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: var(--navy-blue);
    text-align: center;
    transition: .3s ease-out;
}
.carousel-card:hover h5 {
    background: var(--theme-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.carousel-card p {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}

/*------ Banner CSS End ------*/

/*------ Main Content CSS ------*/

.article-container {
    padding: 260px 0 140px 0;
    position: relative;
    overflow: hidden;
}
.line-art {
    background: url('../images/svg/section-layer.svg') no-repeat;
    background-size: 100%;
    background-position: right bottom;
}
.bubble-box {
    width: 782px;
    height: 782px;
    border-radius: 50%;
    opacity: 0.15;
    background: #27B99E;
    filter: blur(150px);
    z-index: -1;
}
.bubble-box.left-top {
    position: absolute;
    left: -35px;
    top: -10px;
}
.bubble-box.right-top {
    position: absolute;
    right: -40px;
    top: -150px;
}
.bubble-box.left-bottom {
    position: absolute;
    left: -15px;
    bottom: -10px;
}
.bubble-box.right-bottom {
    position: absolute;
    right: -80px;
    bottom: -80px;
}
.content-area {
    padding: 80px 0;
    position: relative;
}
.each-client {
    height: 129px;
    display: flex !important;
    align-items: center;
    padding: 0 16px;
    transition: .3s ease-out;
    cursor: pointer;
}
.each-client img {
    object-fit: contain;
    filter: grayscale(100%);
}
.each-client:hover img {
    filter: grayscale(0);
}
.section-header h5 {
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    color: var(--grey-color);
}
.section-header h3 {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
}
.section-content {
    width: 100%;
    margin-top: 24px;
}
.section-content p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 25px;
}
.section-content p:last-child {
    margin-bottom: 0px;
}
.section-button-block .action-btn{
    color: var(--white);
    font-family: 'Signika', sans-serif;
    font-weight: 600;
}
.section-button-block .action-btn:after {
    content: "";
    width: 24px;
    height: 24px;
    background: url('../images/svg/arrow-right-white.svg') no-repeat;
    display: inline-block;
    margin-left: 8px;
    transition: .3s cubic-bezier(.3, 0, 0, 1.3);
    transform: translateX(0px);
}
.section-button-block .action-btn:hover:after {
    transform: translateX(7px);
}
.product-card {
    width: 100%;
    height: 185px;
    padding: 32px;
    background: var(--white);
    border-radius: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    --borderWidth: 2px;
    box-shadow: 5px 5px 20px 1.19906px rgba(0, 0, 0, 0.15);
    position: relative;
}
.product-card:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(72deg, var(--theme-blue) 22.16%, var(--theme-green) 76.47%);
    border-radius: 16px;
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
    transition: .3s ease-out;
    opacity: 0;
}
.product-card:hover:after {
    opacity: 1;
}
.product-card figure {
    width: 60px;
    height: 60px;
    margin-bottom: 12px;
}
.product-card h5 {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: var(--navy-blue);
    transition: .3s ease-out;
    text-align: center;
}
.product-card:hover h5 {
    background: var(--theme-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.product-list {
    width: 100%;
    margin-top: 64px;
}
.article-section {
    padding: 90px 0;
    position: relative;
    overflow: hidden;
}
.line-vector {
    background: url('../images/svg/solution-art.svg') no-repeat;
    background-size: 100%;
}
.fill-layer {
    float: right;
    position: relative;
    margin-top: 47px;
}
.layer-1 {
    position: relative;
    z-index: 1;
}
.cirlce-wrap {
    float: left;
    width: 516px;
    height: 516px;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-animation:spin 50s linear infinite;
    -moz-animation:spin 50s linear infinite;
    animation:spin 50s linear infinite;
}
@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}
.outer-circle-wrap {
    width: 100%;
    height: 100%;
    position: relative;
}
.left-axis {
    position: absolute;
    left: -1px;
    top: -4px;
}
.right-axis {
    position: absolute;
    right: 12px;
    bottom: 4px;
    transform: rotate(16deg);
}
.inner-circle-wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.layer-3 {
    position: absolute;
    top: -203px;
    right: 25%;
}
.outer-circle-wrap img.right-bottom {
    position: absolute;
    right: 6px;
    bottom: 5px;
    transform: rotate(15deg);
}
.animation-sm-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: -47px;
}
.animation-sm-wrapper .circle-sm-left{
    left : 0;
    top: 0;
}
.animation-sm-wrapper .triangle-sm-left{
    left : 41px;
    top: 63px;
}
.animation-sm-wrapper .triangle-lg-left{
    left : 88px;
    top: 17px;
}
.animation-sm-wrapper .circle-lg-right {
    width: 54px;
    height: 54px;
    right: 85px;
    top: 16px;
}
.animation-sm-wrapper .circle-sm-right {
    width: 27px;
    height: 27px;
    right: 39px;
    top: 0px;
}
.animation-sm-wrapper .triangle-bordered {
    left: auto;
    right: 85px;
    bottom:0;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1)
}
.animation-sm-wrapper .circle-sm-left-bottom {
    width: 27px;
    height: 27px;
    position: absolute;
    left: 75px;
    bottom: 10px;
    animation: animate 2s linear infinite;
}
.each-item-card {
    min-height: 208px;
    width: 100%;
    background: rgba(0, 160, 174, 0.10);
    border: 1px solid #E1E2E6;
    padding: 24px;
    border-radius: 20px;
    margin: 10px 0;
    display: flex;
    align-items: flex-start;
    transition: .3s ease-out;
}
.each-item-card:hover {
    width: 100%;
    background: rgba(255, 255, 255, 0.10);
    border: 1px solid #E1E2E6;
    padding: 24px;
    border-radius: 20px;
    margin: 10px 0;
    transition: .3s ease-out;
}
.each-item-card figure{
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    margin-right: 20px;
    position: relative;
    top: 3px;
}
.item-card-content h5 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}
.item-card-content p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.boiler-card h5{
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 10px;
}
.boiler-card p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.service-bg {
    background: #515151;
}
.service-bg .bubble-box {
    z-index: 0;
}
.section-header h5 {
    font-size: 18px;
}
.service-bg .section-header h3 {
    color: var(--white);
}
.service-bg .section-content p {
    color: var(--white);
}
.each-service-card {
    width: 100%;
    padding: 32px 0;
    border: 1px solid transparent;
    border-bottom: 1px solid rgb(108 179 185 / 20%);
    display: flex;
    align-items: center;
    transition: 0.3s padding ease-out, 0.3s margin ease-out;    
    cursor: pointer;
    position: relative;
}
.each-service-card:hover {
    padding: 32px;
    border-radius: 32px;
    background: linear-gradient(72deg, rgba(24, 164, 255, 0.10) 22.16%, rgba(5, 195, 127, 0.10) 76.47%);
    border: 1px solid var(--theme-blue);
}


.service-card-left {
    width: 50%;
    display: flex;
    align-items: center;
    padding-right: 176px;
}
.service-card-left figure {
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    margin-right: 32px;
}
.service-card-left figure img {
    object-fit: contain;
}
.service-card-left h5 {
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    color: var(--white);
}
.service-card-center {
    width: 312px;
    height: 312px;
    flex-shrink: 0;
    position: absolute;
    left: calc(50% - 156px);
    top: calc(50% - 156px);
    opacity: 0;
    transition: 0.3s opacity ease-out;
}
.each-service-card:hover .service-card-center {
    opacity: 1;
}
.service-card-right {
    width: 50%;
    display: flex;
    padding-left: 176px;
    position: relative;
}
.service-card-right p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: var(--white);
    max-width: 80%;
    opacity: 0;
    transition: 0.3s opacity ease-out;;
}
.each-service-card:hover .service-card-right p {
    opacity: 1;
}
.arrow {
    width: 48px;
    height: 48px;
    border: 1px solid var(--white);
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: calc(50% - 24px);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease-out;
}
.arrow:before {
    content: "";
    width: 24px;
    height: 24px;
    background: url('../images/svg/arrow-white.svg') no-repeat;
    display: inline-block;
}
.each-service-card:hover .arrow {
    border-color: #27B99E;
    transform: rotate(-45deg);
}
.each-service-card:hover .arrow:before {
    background: url('../images/svg/arrow-gradient.svg') no-repeat;
    width: 35px;
    height: 33px;
    transform: rotate(45deg);
}
.testimonial-bg {
    background-size: cover;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url('../images/testimonial-bg.webp'), lightgray 50% / cover no-repeat;
    background-attachment: fixed;
    animation: animatedBackground 200s linear infinite alternate;
}
@keyframes animatedBackground {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 0;
    }
}
.testimonial-bg .bubble-box {
    z-index: 0;
}
.testimonial-bg .section-header h3 {
    color: var(--white);
}
.testimonial-bg .section-content p {
    color: var(--white);
}
.testimonial-section {
    padding: 0;
}
.each-testimonial-block {
    padding: 0 15px;
}
.each-testimonial-card {
    width: 100%;
    background: var(--white);
    padding: 72px 24px 24px 24px;    
    border-radius: 16px;
    border: 1px solid rgba(225, 226, 230, 0.50);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* box-shadow: 0px 0px 24px 0px rgba(39, 185, 158, 0.15); */
    margin-top: 32px;
    position: relative;
}
.each-testimonial-card:before {
    content: "";
    width: 24px;
    height: 24px;
    background: url('../images/svg/quotes.svg') no-repeat;
    position: absolute;
    left: 24px;
    top: 48px;
}
.each-testimonial-card figure {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    position: absolute;
    left: 24px;
    top: -32px;
    border: 1px solid #00A0AE;
}
.each-testimonial-card figure img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.testimonial-content {
    width: 100%;
    margin: 16px 0;
    padding-bottom: 16px;
    border-bottom: 1px solid rgb(157 164 173 / 20%);
}
.testimonial-content p {
    width: 100%; 
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
.testimonial-by {
    width: 100%;
}
.testimonial-by h5 {
    width: 100%;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 4px;
}
.testimonial-by p {
    width: 100%;
    color: #9DA4AD;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}
.testimonial-section .slick-list {
    overflow: unset;
    overflow-x: hidden;
}
.gallery-section {
    width: 100%;
    margin-top: 24px;
}
.gallery-filter-control {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gallery-filter {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: #9DA4AD;
    background: var(--white);
    border: 1px solid #9DA4AD;
    border-radius: 8px;
    padding: 8px 24px;
    margin: 0 10px;
    cursor: pointer;
    transition: .3s ease-out;
}
.gallery-filter.active, 
.gallery-filter:hover {
    color: var(--white);
    border-color: transparent;
    background: linear-gradient(72deg, #18A4FF 22.16%, #05C37F 76.47%);
}
.gallery-grid {
    width: 100%;
    margin-top: 60px;
}
.each-grid-item {
    position: relative;
    cursor: pointer;
}
.each-grid-item figure {
    width: 100%;
    height: 277px;
    margin-bottom: 12.5px;
}
.each-grid-item figure img {
    float: left;
    width: 100%;
    height: 100%;
    border-radius: 16px;
}
.gallery-item-content {
    width: 100%;
}
.gallery-item-content h5 {
    width: 100%;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}
.each-grid-item:hover .gallery-item-content h5 {
    background: var(--theme-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gallery-item-content p {
    width: 100%;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: #9DA4AD;
}
.each-grid-item .arrow {
    top: auto;
    bottom: 0;
    background: linear-gradient(72deg, #000000 22.16%, #000000 76.47%);
    transform: rotate(-45deg);
    transition: .3s ease-out;
}
.each-grid-item:hover .arrow {
    background: linear-gradient(72deg, #18A4FF 22.16%, #05C37F 76.47%);
}
.each-grid-item:hover .arrow {
    transform: rotate(0deg);
}

/*------ Main Content CSS End ------*/

/*------ Footer CSS ------*/

.footer-block {
    width: 100%;
    padding: 112px 0;
    overflow: hidden;
}
.footer-bg {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url('../images/footer-bg.webp'), lightgray 50% / cover no-repeat;
    position: relative;
    -webkit-animation:mymove 70s linear infinite;
    animation:mymove 70s linear infinite;
    background-size: cover;
    background-attachment: fixed;
}

@-webkit-keyframes mymove {
    from {
        background-position: 0% 0%;
    }
    to {
        background-position: 0% -100%;
    }
}
@keyframes mymove {
    from {
        background-position: 0% 0%;
    }
    to {
        background-position: 0% -100%;
    }
}
.footer-bg .bubble-box {
    z-index: 0;
}
.each-footer-section {
    position: relative;
    z-index: 1;
}
.footer-section-header {
    width: 100%;
    margin-bottom: 20px;
}
.footer-section-header figure img {
    width: 250px;
}
.footer-section-header h5 {
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
}
.footer-links li {
    display: block;
    width: 100%;
}
.footer-links li a  {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    color: var(--white) !important;
}
.copyright-block {
    width: 100%;
    margin-top: 40px;
    padding: 40px 0;
    border-top: 1px solid rgba(108, 178, 185, 0.20);
}
.copyright-block p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: var(--white);
}

/*------ Footer CSS End ------*/

/*------ Media Queries CSS ------*/


@media(max-width: 1280px) {

    /*------ Header CSS  ------*/

    .header-block {
        height: 90px;
    }    
    .header-inner {
        height: 90px;
    }    
    .circle-sm-left {
        left: 0;
    }    
    .brand-logo {
        float: left;
        width: 145px;
        height: 47px;
    }    
    .brand-logo img {
        width: 100%;
    }  
    .menu-listing li {
        padding: 0 10px;
    }
    .menu-listing li a {
        font-size: 14px;
    }    

    /*------ Header CSS End ------*/

    /*------ Banner CSS  ------*/

    .banner-block {
       height: 100vh; 
    }
    .banner-block .container {
        padding: 90px 0;
    }
    .carousel-text-content {
        max-width: 40%;
    }
    .carousel-text-content h5 {
        font-size: 15px;
        line-height: normal;
    }
    .carousel-text-content h1 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 8px;
    } 
    .carousel-text-content p {
        font-size: 16px;
        line-height: 22px;
    }
    .slick-prev {
        left: 10px;
    }
    .slick-next {
        right: 10px;
    }
    
    .circle-sm-left {
        left: 0;
    }
    .globe {
        width: 400px;
    }
    .corner-art {
        right: -40px;
        width: 85px;
    }
    .carousel-card-block .item {
        margin: 2px 10px;
    }    
    .carousel-card figure {
        width: 50px;
        height: 50px;
    }    
    .carousel-card figure img {
        width: 100%;
        object-fit: contain;
    }    
    .carousel-card h5 {
        font-size: 18px;
    }    
    .carousel-card p {
        font-size: 16px;
        line-height: 22px;
    }

    /*------ Banner CSS End  ------*/
    
}

@media(max-width: 1024px) {

    /*------ Header CSS ------*/

    .no-scroll {
        overflow: hidden;
    }
    .hamburger-menu {
        float: left;
        width: auto;
        display: block;
    }
    .header-block, .header-inner {
        height: 80px;
    }
    .brand-logo {
        float: right;
        width: 100px;
        height: 33px;
    }
    .brand-logo img {
        width: 100%;
    }
    .menu-panel {
        float: left;
        width: 100%;
        height: 100%;
        position: fixed;
        left: -100%;
        top: 0;
        background: linear-gradient(72deg, rgba(24, 164, 255, 0.25) 22.16%, rgba(5, 195, 127, 0.25) 76.47%), #000;
        padding: 85px 30px;
        -webkit-transition: all 300ms ease;
        -moz-transition: all 300ms ease;
        -ms-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        transition: all 300ms ease;
        z-index: 10;
    }
    .menu-panel.active {
        left: 0;
    }
    .menu-panel .ti-close {
        display: block;
    }
    .menu-listing li {
        width: 100%;
        padding: 0;
    }    
    .menu-listing li a {
        color: var(--white) !important;
    }    
    .menu-listing li .action-btn {
        margin-top: 12px;
    }

    /*------ Header CSS End ------*/

    /*------ Banner CSS ------*/

    .banner-block {
        height: calc(100vh - 140px);
    }  
    .banner-block .container {
        padding: 80px 15px 105px 15px;
    }    
    .circle-sm-left {
        left: 0;
        top: 15px;
    }    
    .triangle-sm-left {
        top: 60px;
    }
    .triangle-lg-left {
        top: 20px;
    }    
    .circle-lg-center {
        display: none;
    }    
    .circle-sm-center,
    .circle-sm-right,
    .circle-lg-right {
        display: none;
    }    
    .corner-art {
        width: 80px;
        right: 0;
        top: 25px;
    }
    .triangle-bordered {
        left: 0;
    }
    .globe {
        opacity: .5;
        width: 100%;
    }
    .circle-sm-right {
        right: -45px;
        bottom: 20px;
    }    
    .circle-lg-right {
        right: -100px;
        width: 50px;
        bottom: 36px;
    }
    .carousel-text-content {
        max-width: 100%;
    }    
    .carousel-text-content h5 {
        font-size: 16px;
        line-height: normal;
        margin-bottom: 10px;
    }    
    .carousel-text-content h1 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 10px;
    }    
    .carousel-text-content p {
        font-size: 16px;
    }  
    .carousel-text-content h1, 
    .carousel-text-content p {
        max-width: 60%;
    }      
    .carousel-action {
        margin-top: 20px;
    }    
    .action-btn {
        font-size: 16px;
    }
    .carousel-card {
        box-shadow: none;
    }
    .carousel-card-block .slick-list {
        overflow: hidden;
    }
    .slick-arrow {
        width: 60px;
        height: 60px;
        position: absolute;
        top: auto;
        bottom: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
    }
    .slick-arrow:before {
        zoom: .8;
    }
    .slick-arrow:after {
        width: 60px;
        height: 60px;
        transform: translate(0, 0);
        left: 0;
        top: 0;
    }
    .slick-next {
        right: 15px;
    }
    .slick-prev {
        left: auto;
        right: 85px;
    }

    /*------ Banner CSS End ------*/

    /*------ Main Content CSS  ------*/

    .article-container {
        padding: 160px 0 50px 0;
        position: relative;
        overflow: hidden;
    }
    .content-area {
        padding: 40px 0;
    }
    .section-header h3 {
        font-size: 35px;
        line-height: 45px;
    }
    .max-80 {
        max-width: 100%;
    }
    .section-content {
        margin-top: 15px;
    }
    .section-content p {
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 15px;
    }
    .section-figure, 
    .section-figure img {
        width: 100%;
    }
    .article-section {
        padding: 50px 0;
    }
    .product-list {
        margin-top: 30px;
    }
    .bubble-box.left-top {
        left: 0;
        top: 0;
    }
    .bubble-box.right-top {
        right: 0;
        top: 0;
    }
    .bubble-box.left-bottom {
        left: 0;
        bottom: 0;
    }
    .bubble-box.right-bottom {
        right: 0;
        bottom: 0;
    }
    .fill-layer {
        margin: 47px 0;
    }  
    .layer-1, 
    .layer-1 img {
        width: 100%;
    }
    .layer-2 {
        width: 100%;
    }
    .cirlce-wrap {
        width: 100%;
        height: 100%;
    }
    .inner-circle-wrap {
        top: -4px;
        padding: 15px;
    }
    .inner-circle-wrap img {
        width: 100%;
        height: 100%;
    }
    .outer-circle-wrap .left-axis {
        width: 65%;
        height: 50%;
        object-fit: contain;
        left: -2px;
        top: -16px;
    }
    .outer-circle-wrap .right-axis {
        height: 65%;
        right: 7px;
        bottom: 9px;
    }
    .outer-circle-wrap .outer-round {
        width: 100%;
    }
    .layer-3 {
        top: -60px;
        right: 0;
        width: 80px;
    }
    .layer-3 img {
        width: 100%;
    }      
    .animation-sm-wrapper .circle-sm-left-bottom {
        left: 0;
        bottom: 0;
    }    
    .animation-sm-wrapper .triangle-bordered {
        right: 0;
        bottom: -70px;
    }
    .animation-sm-wrapper .triangle-sm-left {
        top: 0;
    }    
    .animation-sm-wrapper  .triangle-lg-left {
        top: 0;
    }
    .boiler-card h5 {
        font-size: 28px;
    }    
    .boiler-card p {
        font-size: 16px;
    }    
    .section-button-block.justify-content-end {
        justify-content: flex-start !important;
        margin-top: 25px;
    }
    .m-70 {
        margin: 20px 0 0 0;
    }
    .m-70 > .row {
        margin-left: 0;
        margin-right: 0;
    }
    .each-service-card {
        padding: 20px;
        border-radius: 32px;
        background: linear-gradient(72deg, rgba(24, 164, 255, 0.10) 22.16%, rgba(5, 195, 127, 0.10) 76.47%);
        border: 1px solid var(--theme-blue); 
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }    
    .service-card-left {
        width: 100%;
        padding: 0;
        margin-bottom: 10px;        
        order: 1;
    }  
    .service-card-left figure {
        width: 40px;
        height: 40px;
        margin-right: 15px;
    }    
    .service-card-left figure img {
        width: 100%;
    }    
    .service-card-left h5 {
        font-size: 20px;
    }  
    .service-card-center {
        width: 100%;
        position: relative;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
        margin: 20px auto;
        margin-top: 0;
        order: 0;
    }    
    .service-card-center figure {
        width: 100%;
        height: 100%;
    }    
    .service-card-center figure img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: left;
    }    
    .service-card-right {
        width: 100%;
        padding: 0;
        opacity: 1;
        order: 02;
    }    
    .service-card-right p {
        font-size: 16px;
        opacity: 1;
        max-width: 100%;
    }    
    .each-service-card .arrow {
        display: none;
    }
    .testimonial-bg {
        background-attachment: unset;
    }
    .testimonial-section {
        margin-top: 0px;
    }
    .gallery-filter-control {
        flex-wrap: wrap;
    }    
    .gallery-filter {
        margin: 6px;
    }

    /*------ Main Content CSS End ------*/

    .footer-block {
        background-attachment: unset;
    }

}

@media(max-width: 767px) { 

    /*------ Banner CSS ------*/

    .carousel-text-content h1, 
    .carousel-text-content p {
        max-width: 100%;
    }

    /*------ Banner CSS End ------*/
    
    /*------ Main Content CSS ------*/    
    
    .each-testimonial-block {
        padding: 0;
    } 

    /*------ Main Content CSS End ------*/

    /*------ Footer CSS ------*/

    .footer-block {
        padding: 50px 0;
    }
    .footer-section-header figure img {
        width: 150px;
    }
    .copyright-block.text-center {
        padding: 30px 0;
        margin-top: 30px;
    }
    .copyright-block.text-center p {
        font-size: 16px;
    }

    /*------ Footer CSS End ------*/

}

@media (max-width: 400px) {

    /*------ Banner CSS ------*/

    .banner-block {
        height: 100vh;
    }

    /*------ Banner CSS End ------*/

}

/*------ Media Queries CSS End ------*/