/*------ Normalise CSS ------*/
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {margin: 0;padding: 0;border: 0;font: inherit;vertical-align: baseline }article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block }ol, ul {list-style: none }blockquote, q {quotes: none }blockquote:after, blockquote:before, q:after, q:before {content: '';content: none }table {border-collapse: collapse;border-spacing: 0 }button:focus, textarea:focus, div:focus {outline: 0 !important;}select:focus {outline: none;}a, a:hover {text-decoration: none;color: inherit;}button {background: transparent;border: 0;padding: 0;line-height: 0;}button:focus {outline: none;box-shadow: none;}input::placeholder, textarea::placeholder {color: var(--placeholder) !important }input::-moz-placeholder, textarea::-moz-placeholder {color: var(--placeholder) !important;opacity: 1 }input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color: var(--placeholder) !important;opacity: 1 }input:focus {outline: 0 !important }input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {-webkit-appearance: none;margin: 0 }input[type=number] {-moz-appearance: textfield }ul {list-style-type: none;padding: 0;margin: 0 }a:hover {text-decoration: none }p {margin: 0 }button {border: 0 }button:focus {outline: 0 }

/*------ Normalise CSS End ------*/

/*------ Main CSS ------*/

* {
    box-sizing: border-box;
}
:root {
    --theme-blue: #18A4FF;
    --theme-green: #05C37F;
    --bg-color: #FFFFFF;
    --navy-blue: #0A033C;
    --text-color: #040C1A;
    --grey-color: #8893A8;
    --white: #FFFFFF;
    --theme-gradient: linear-gradient(72deg, var(--theme-blue) 22.16%, var(--theme-green) 76.47%);
}
body {
    background-color: var(--bg-color);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 30px;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important; 
    overflow-x: hidden;
}
.theme-gradient {
    background: var(--theme-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.font-light {
    font-weight: 300;
}
.align-right {
    float: right;
}
.green-text {
    color: var(--theme-green);
}
.max-80 {
    max-width: 80%;
}
.p-0 {
    padding: 0 !important;
}
.pb-0 {
    padding-bottom: 0 !important;
}
.p-side-6 {
    padding: 0 6%;
}
.m-70 {
    margin: 70px 0;
}
.mb-0 {
    margin-bottom: 0 !important;
}
.gutter-30 {
    --bs-gutter-x: 1.875rem;
    --bs-gutter-y: 1.875rem;
}
.gutter-20 {
    --bs-gutter-x: 1.3rem;
    --bs-gutter-y: 1.3rem;
}

/* header */

.header-block {
    width: 100%;
    height: 150px;
    background: linear-gradient(72deg, rgba(24, 164, 255, 0.05) 22.16%, rgba(5, 195, 127, 0.05) 76.47%);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    transition: .3s ease-out;
}
.header-block.sticky {
    height: 80px;
    background: var(--white);
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%);
}
.header-inner {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .3s ease-out;
}
.sticky .header-inner {
    height: 80px;
}
.brand-logo object {
    cursor: pointer;
    transition: .3s ease-out;
}
.sticky .brand-logo {
    width: 120px;
    height: 40px;
}
.sticky .brand-logo object {
    width: 120px;
}
.sticky-logo{
    display: none;
}
.sticky .non-sticky-logo {
    display: none;
}
.sticky .sticky-logo {
    display: block;
}
.menu-listing li {
    display: inline-block;
    padding: 0 20px;
}
.menu-listing li:last-child {
    padding-right: 0;
}
.menu-listing li a {
    color: var(--white);
    letter-spacing: 0.58px;
    transition: 0.3s ease-out;
}
.sticky .menu-listing li a {
    color: var(--text-color);
}
.menu-listing li a:hover {
    color: var(--theme-blue);
}
.action-btn {
    height: 48px;
    padding: 0px 24px;
    font-size: 18px;
    font-weight: 600;
    line-height: 48px;
    background-image: var(--theme-gradient);
    background-size: 100% auto;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    box-shadow: 0px 4px 8px 0px rgba(0, 15, 115, 0.08);
    transition: .3s cubic-bezier(.3, 0, 0, 1.3);
}
.action-btn:hover {
    color: var(--white) !important;
    /* background-position: right center;
    background-size: 200% auto; */
}
.sticky .action-btn {
    color: var(--white) !important;
}
.action-btn.white {
    background: var(--white);
}
.action-btn.white span { 
    background: var(--theme-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 0.0419px;
}

/* Banner Area */

.banner-area {
    width: 100%;
    height: 100vh;
    background: linear-gradient(72deg, rgba(24, 164, 255, 0.25) 22.16%, rgba(5, 195, 127, 0.25) 76.47%), #000;
    /* padding-top: 150px; */
}
.carousel-text-content {
    max-width: 65%;
}
.carousel-text-content h5 {
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    color: var(--grey-color);
    margin-bottom: 8px;
}
.carousel-text-content h1 {
    width: 100%;
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 80px;
    color: var(--white);
    margin-bottom: 18px;
}
.carousel-text-content p {
    width: 100%;
    font-size: 18px;
    color: var(--white);
    font-weight: 400;
}
.carousel-action {
    width: 100%;
    margin-top: 36px;
}
.carousel-action .action-btn:after {
    content: "";
    width: 24px;
    height: 24px;
    background: url('../images/svg/button-arrow.svg') no-repeat;
    display: inline-block;
    margin-left: 8px;
    transition: .3s ease-out;
    transform: translateX(0px);
}
.carousel-action .action-btn {
    padding: 0 24px 0 32px;
}
.carousel-action .action-btn:hover:after {
    transform: translateX(7px);
}
.banner-area .owl-carousel .owl-stage-outer {
    overflow: unset;
}
.carousel-card {
    width: 100%;
    height: 240px;   
    background: var(--white);
    border: 2px solid var(--white);
    border-radius: 36px;
    padding: 36px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 23.98129px 79.13824px 1.19906px rgba(0, 0, 0, 0.15);
    transition: .3s ease-out;
}
.carousel-card figure {
    width: 72px;
    height: 72px;
    display: inline-block;
    margin-bottom: 12px;
}
.carousel-card h5 {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: var(--navy-blue);
    text-align: center;
    transition: .3s ease-out;
}
.carousel-card p {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}




.main-hero-section {
    width: 100%;
    height: 100%;
}
.main-hero-section .owl-stage-outer {
    height: 100%;
}
.main-hero-section .owl-stage,
.main-hero-section .owl-item,
.main-hero-section .owl-item .item,
.main-hero-section .owl-item .item .container,
.main-hero-section .owl-item .item .container .row,
.main-hero-section .carousel-inner-block  {
    width: 100%;
    height: 100%;
}
.main-hero-section .carousel-inner-block {
    display: flex;
    align-items: center;
}
.main-hero-section .owl-nav button span {
    float: left;
    width: 29px;
    height: 29px;
    font-size: 0px;
    opacity: .5;
    transition: .3s ease-out;
}
.main-hero-section .owl-nav button:hover span {
    opacity: 1;
}
.main-hero-section .owl-nav button span:after {
    content: "";
    width: 335px;
    height: 335px;
    background: var(--theme-gradient);
    border-radius: 50%;
    opacity: .1;
    display: block;
}
.main-hero-section .owl-prev {
    height: 100%;
    position: absolute;
    left: 45px;
    top: 0;
}
.main-hero-section .owl-prev span:before {
    content: "";
    width: 29px;
    height: 35px;
    background: url('../images/svg/arrow.svg') no-repeat;
    display: inline-block;
}
.main-hero-section .owl-prev span:after {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(calc(-50% - 45px) , -50%);
}
.main-hero-section .owl-next {
    height: 100%;
    position: absolute;
    right: 45px;
    top: 0;
}
.main-hero-section .owl-next span:before {
    content: "";
    width: 29px;
    height: 35px;
    background: url('../images/svg/arrow.svg') no-repeat;
    transform: rotate(180deg);
    display: inline-block;
}
.main-hero-section .owl-next span:after {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(calc(50% - -45px) , -50%);
}
.carousel-card-section {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -140px;
}
.carousel-card-section .owl-stage .owl-item {
    cursor: pointer;
}
.carousel-card-section .owl-stage .owl-item.active.current .carousel-card {
    border-color: var(--theme-blue) !important;
}
.article-container {
    padding: 260px 0 140px 0;
    position: relative;
    overflow: hidden;
}
.content-area {
    padding: 80px 0;
    position: relative;
}
.each-client {
    height: 129px;
    display: flex !important;
    align-items: center;
    padding: 0 16px;
}
.each-client img {
    object-fit: contain;
}
.section-header h5 {
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    color: var(--grey-color);
}
.section-header h3 {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
}
.section-content {
    width: 100%;
    margin-top: 24px;
}
.section-content p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 25px;
}
.section-content p:last-child {
    margin-bottom: 0px;
}
.section-button-block .action-btn{
    color: var(--white);
    font-family: 'Signika', sans-serif;
    font-weight: 600;
}
.section-button-block .action-btn:after {
    content: "";
    width: 24px;
    height: 24px;
    background: url('../images/svg/arrow-right-white.svg') no-repeat;
    display: inline-block;
    margin-left: 8px;
    transition: .3s cubic-bezier(.3, 0, 0, 1.3);
    transform: translateX(0px);
}
.section-button-block .action-btn:hover:after {
    transform: translateX(7px);
}
.product-card {
    width: 100%;
    height: 185px;
    padding: 32px;
    background: var(--white);
    border-radius: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 2px solid var(--white);
    box-shadow: 5px 5px 20px 1.19906px rgba(0, 0, 0, 0.15);
    transition: .3s cubic-bezier(.3, 0, 0, 1.3);
}
.product-card:hover {
    border-color: var(--theme-blue);
    /* transform: scale(1.1); */
}
.product-card figure {
    width: 60px;
    height: 60px;
    margin-bottom: 12px;
}
.product-card h5 {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: var(--navy-blue);
    transition: .3s ease-out;
    text-align: center;
}
.product-list {
    width: 100%;
    margin-top: 64px;
}

.line-art {
    background: url('../images/svg/section-layer.svg') no-repeat;
    background-size: 100%;
    background-position: right bottom;
}
.bubble-box {
    width: 782px;
    height: 782px;
    border-radius: 50%;
    opacity: 0.15;
    background: #27B99E;
    filter: blur(150px);
    z-index: -1;
}
.bubble-box.left-top {
    position: absolute;
    left: -35px;
    top: -10px;
}
.bubble-box.right-top {
    position: absolute;
    right: -40px;
    top: -150px;
}
.bubble-box.left-bottom {
    position: absolute;
    left: -15px;
    bottom: -10px;
}
.bubble-box.right-bottom {
    position: absolute;
    right: -80px;
    bottom: -80px;
}


.article-section {
    padding: 90px 0;
    position: relative;
    overflow: hidden;
}
.line-vector {
    background: url('../images/svg/solution-art.svg') no-repeat;
    background-size: 100%;
}
.each-item-card {
    min-height: 208px;
    width: 100%;
    background: rgba(0, 160, 174, 0.10);
    border: 1px solid #E1E2E6;
    padding: 24px;
    border-radius: 20px;
    margin: 10px 0;
    display: flex;
    align-items: flex-start;
    transition: .3s ease-out;
}
.each-item-card:hover {
    width: 100%;
    background: rgba(255, 255, 255, 0.10);
    border: 1px solid #E1E2E6;
    padding: 24px;
    border-radius: 20px;
    margin: 10px 0;
    transition: .3s ease-out;
}
.each-item-card figure{
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    margin-right: 20px;
    position: relative;
    top: 3px;
}
.item-card-content h5 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}
.item-card-content p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.fill-layer {
    position: relative;
}
.layer-2 {
    position: absolute;
    top: -47px;
    right: 50px;
    z-index: -1;
}
.layer-3 {
    position: absolute;
    top: -33%;
    right: 25%;
}
.boiler-card h5{
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 10px;
}
.boiler-card p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.service-bg {
    background: #515151;
}
.service-bg .bubble-box {
    z-index: 0;
}
.service-bg .section-header h3 {
    color: var(--white);
}
.service-bg .section-content p {
    color: var(--white);
}
.each-service-card {
    width: 100%;
    padding: 32px 0;
    border: 1px solid transparent;
    border-bottom: 1px solid rgb(108 179 185 / 20%);
    display: flex;
    align-items: center;
    position: relative;
    transition: .3s ease-out;
}
.each-service-card:hover {
    padding: 32px;
    border-radius: 32px;
    background: linear-gradient(72deg, rgba(24, 164, 255, 0.10) 22.16%, rgba(5, 195, 127, 0.10) 76.47%);
    border: 1px solid var(--theme-blue);
}
.service-card-left {
    width: 100%;
    display: flex;
    align-items: center;
    padding-right: 176px;
}
.service-card-left figure {
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    margin-right: 32px;
}
.service-card-left figure img {
    object-fit: contain;
}
.service-card-left h5 {
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    color: var(--white);
}
.service-card-center {
    width: 312px;
    height: 312px;
    flex-shrink: 0;
    opacity: 0;
    position: absolute;
    left: calc(50% - 172px);
    top: calc(50% - 166px);
    transition: .3s ease-out;
}
.each-service-card:hover .service-card-center {
    opacity: 1;
}
.service-card-right {
    width: 100%;
    display: flex;
    padding-left: 176px;
    padding-right: 48px;
    position: relative;
}
.service-card-right p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: var(--white);
    max-width: 80%;
    opacity: 0;
    transition: .3s ease-out;
}
.each-service-card:hover .service-card-right p {
    
    opacity: 1;
}
.arrow {
    width: 48px;
    height: 48px;
    border: 1px solid var(--white);
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: calc(50% - 24px);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease-out;
}
.each-service-card:hover .arrow {
    border-color: #27B99E;
    transform: rotate(-45deg);
}
.arrow:before {
    content: "";
    width: 24px;
    height: 24px;
    background: url('../images/svg/arrow-white.svg') no-repeat;
    display: inline-block;
}
.each-service-card:hover .arrow:before {
    background: url(../images/svg/arrow-gradient.svg) no-repeat;
    width: 35px;
    height: 33px;
    transform: rotate(45deg);
}
.testimonial-bg {
    background-size: cover;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url('../images/testimonial-bg.jpg'), lightgray 50% / cover no-repeat;
}
.testimonial-bg .bubble-box {
    z-index: 0;
}
.testimonial-bg .section-header h3 {
    color: var(--white);
}
.testimonial-bg .section-content p {
    color: var(--white);
}
.testimonial-section {
    padding: 0;
}
.each-testimonial-block {
    padding: 0 15px;
}
.each-testimonial-card {
    width: 100%;
    background: white;
    padding: 72px 24px 24px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 16px;
    border: 1px solid rgba(225, 226, 230, 0.50);
    box-shadow: 0px 0px 24px 0px rgba(39, 185, 158, 0.15);
    margin-top: 32px;
    position: relative;
}
.each-testimonial-card::before {
    content: "";width: 24px;
    height: 24px;
    background: url('../images/svg/quotes.svg') no-repeat;
    position: absolute;
    left: 24px;
    top: 48px;
}
.each-testimonial-card figure {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    position: absolute;
    left: 24px;
    top: -32px;
    border: 1px solid #00A0AE;
}
.each-testimonial-card figure img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.testimonial-content {
    width: 100%;
    margin: 16px 0;
    padding-bottom: 16px;
    border-bottom: 1px solid rgb(157 164 173 / 20%);
}
.testimonial-content p {
    width: 100%; 
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
.testimonial-by {
    width: 100%;
}
.testimonial-by h5 {
    width: 100%;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 4px;
}
.testimonial-by p {
    width: 100%;
    color: #9DA4AD;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}
.testimonial-section .slick-list {
    overflow: unset;
    overflow-x: hidden;
}
.gallery-section {
    width: 100%;
    margin-top: 24px;
}
.gallery-filter-control {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gallery-filter {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: #9DA4AD;
    background: var(--white);
    border: 1px solid #9DA4AD;
    border-radius: 8px;
    padding: 8px 24px;
    margin: 0 10px;
    cursor: pointer;
    transition: .3s ease-out;
}
.gallery-filter.active, 
.gallery-filter:hover {
    color: var(--white);
    border-color: transparent;
    background: linear-gradient(72deg, #18A4FF 22.16%, #05C37F 76.47%);
}
.gallery-grid {
    width: 100%;
    margin-top: 60px;
}
.each-grid-item {
    position: relative;
    cursor: pointer;
}
.each-grid-item figure {
    width: 100%;
    height: 277px;
    margin-bottom: 12.5px;
}
.each-grid-item figure img {
    float: left;
    width: 100%;
    height: 100%;
    border-radius: 16px;
}
.gallery-item-content {
    width: 100%;
}
.gallery-item-content h5 {
    width: 100%;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}
.gallery-item-content p {
    width: 100%;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: #9DA4AD;
}
.each-grid-item .arrow {
    top: auto;
    bottom: 0;
    background: linear-gradient(72deg, #18A4FF 22.16%, #05C37F 76.47%);
    transform: rotate(-45deg);
}
.each-grid-item:hover .arrow {
    transform: rotate(0deg);
}
.footer-block {
    width: 100%;
    padding: 112px 0;
    overflow: hidden;
}
.footer-bg {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url('../images/footer-bg.jpg'), lightgray 50% / cover no-repeat;
    position: relative;
}
.footer-bg .bubble-box {
    z-index: 0;
}
.each-footer-section {
    position: relative;
    z-index: 1;
}
.footer-section-header {
    width: 100%;
    margin-bottom: 20px;
}
.footer-section-header figure img {
    width: 250px;
}
.footer-section-header h5 {
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
}
.footer-links li {
    display: block;
    width: 100%;
}
.footer-links li a  {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    color: var(--white) !important;
}
.copyright-block {
    width: 100%;
    margin-top: 40px;
    padding: 40px 0;
    border-top: 1px solid rgba(108, 178, 185, 0.20);
}
.copyright-block p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: var(--white);
}